<ion-header class="no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>List-Reorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   
    <ion-reorder-group [disabled]="false" (ionItemReorder)="reorder($event)">
      
      <ion-item *ngFor="let personaje of personajes">
        {{ personaje }}
      </ion-item>
      <ion-reorder slot="start"></ion-reorder>
   
    </ion-reorder-group>
  
  </ion-list>
</ion-content>
