<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitule</ion-card-subtitle>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita veniam rem nesciunt officia aperiam tenetur nihil deserunt magnam sit ducimus? Blanditiis eaque nostrum cupiditate culpa nulla temporibus beatae fugiat pariatur?
    </ion-card-content>

  </ion-card>
  
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum saepe fuga officiis. Ea omnis eveniet rerum possimus eaque quasi eum sunt perspiciatis! Doloribus voluptates quaerat dolorum illum, itaque cupiditate exercitationem.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, reprehenderit quibusdam. Vel qui similique ullam neque. Repellat ad sed nobis. Voluptatem nam laudantium hic, ipsum unde quas enim ducimus deleniti?
    </ion-card-content>
  </ion-card>

</ion-content>
